<main class="p-8 flex justify-center items-center" #main>
  <div
    class="max-w-sm mx-auto bg-white shadow-lg rounded-lg p-8 flex flex-col gap-8"
  >
    <h1 class="text-2xl font-bold text-center">ลงทะเบียน</h1>
    <form
      class="flex flex-col gap-4"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex items-center gap-4 rounded-lg border px-4 py-2">
        <UserIcon />
        <input
          type="text"
          formControlName="username"
          class="focus:outline-0"
          placeholder="ชื่อผู้ใช้"
          required="true"
        />
      </div>
      <div class="flex items-center gap-4 rounded-lg border px-4 py-2">
        <KeyIcon />
        <input
          type="password"
          formControlName="password"
          class="focus:outline-0"
          placeholder="รหัสผ่าน"
          required="true"
        />
      </div>
      <div class="flex items-center gap-4 rounded-lg border px-4 py-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
          />
        </svg>
        <input
          type="password"
          formControlName="confirmPassword"
          class="focus:outline-0"
          placeholder="ยืนยันรหัสผ่าน"
          required="true"
        />
      </div>
      <div class="text-red-500" *ngIf="isPasswordNotMatch">
        รหัสผ่านไม่ตรงกัน
      </div>
      <input
        class="bg-green-700 text-white rounded-lg p-2 cursor-pointer"
        type="submit"
        value="ต่อไป"
      />
    </form>
    <p>
      มีบัญชีแล้ว ? เข้าสู่ระบบ
      <a [routerLink]="['/auth', 'login']" class="underline text-blue-500"
        >ที่นี่</a
      >
    </p>
  </div>
</main>
