<div class="flex justify-center items-center">
  <button (click)="openMobileMenu()">
    <svg
      *ngIf="!isMobileMenuOpen"
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
<div
  *ngIf="isMobileMenuOpen"
  class="fixed z-50 top-0 left-0 w-full h-full p-3 bg-black/30 backdrop-blur"
>
  <div class="bg-white w-full h-full rounded-lg p-8 relative">
    <div class="absolute top-3 right-3" (click)="closeMobileMenu()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </div>
    <h3 class="text-center font-black text-xl mb-6">{{ menuTitle }}</h3>
    <Navigation [isMobile]="true" (routeChangeEmitter)="closeMobileMenu()" />
    <div class="mt-6">
      <SearchBar />
    </div>
  </div>
</div>
