<article class="grow grid grid-cols-1 gap-3 py-6">
  <app-profile-header
    [name]="ppa.author.displayName"
    [authorId]="ppa.author.userId"
  ></app-profile-header>
  <div class="flex justify-between gap-4">
    <a [routerLink]="['/post', ppa.postPreview.id]" class="grow">
      <div class="group line-clamp-3">
        <h3 class="sm:text-lg md:text-xl font-bold mb-2 group-hover:underline">
          {{ ppa.postPreview.title }}
        </h3>
        <p class="text-sm md:text-base">
          {{ ppa.postPreview.description }}
        </p>
      </div>
    </a>
    <div class="shrink-0 grow-0">
      <app-cover [src]="ppa.postPreview.coverImage!"></app-cover>
    </div>
  </div>
  <div class="flex items-center justify-between gap-3 pe-28">
    <div class="flex items-center gap-2">
      <app-tag-group
        *ngIf="ppa.postPreview.tags.length"
        class="hidden md:block"
      >
        <app-tag *ngFor="let tag of tags" [tag]="tag" />
      </app-tag-group>
      <p class="text-xs">
        {{ ppa.postPreview.lastUpdatedTime | relativeTime }}
      </p>
    </div>
    <app-post-options
      *ngIf="userId === ppa.author.userId"
      [ofPostId]="ppa.postPreview.id"
      [ofAuthorId]="ppa.author.userId"
      (deleteEmitter)="deleteFromPosts($event)"
    ></app-post-options>
  </div>
</article>
