<article class="grow grid grid-cols-1 gap-3 py-6">
  <app-profile-header
    [src]="ppa.author.avatar"
    [name]="ppa.author.username"
    [authorId]="ppa.author.id"
  ></app-profile-header>
  <div class="flex justify-between gap-4">
    <a [routerLink]="['/post', ppa.postPreview.id]" class="grow">
      <div class="group line-clamp-3">
        <h3 class="sm:text-lg md:text-xl font-bold mb-2 group-hover:underline">
          {{ ppa.postPreview.title }}
        </h3>
        <p class="text-sm md:text-base">
          {{ ppa.postPreview.description }}
        </p>
      </div>
    </a>
    <div class="shrink-0 grow-0">
      <app-cover [src]="ppa.postPreview.coverImage"></app-cover>
    </div>
  </div>
  <div class="flex items-center justify-between gap-3 pe-28">
    <p class="text-xs">{{ ppa.postPreview.lastUpdatedTime | relativeTime }}</p>
    <!-- <TagGroup *ngIf="ppa.postPreview.tags.length">
          <Tag *ngFor="let tag of ppa.postPreview.tags" [name]="tag" [color]="getTagColor(tag)" />
        </TagGroup> -->
    <app-post-options
      *ngIf="userId === ppa.author.id"
      [ofPostId]="ppa.postPreview.id"
      [ofAuthorId]="ppa.author.id"
    ></app-post-options>
  </div>
</article>
