<main class="max-w-screen-md mx-auto p-4 grid grid-cols-1 gap-8">
  <ng-container *ngIf="pa">
    <header>
      <app-post-title
        [(title)]="pa.post.title"
        [isEditable]="isEditable"
      ></app-post-title>
      <app-post-description
        [(description)]="pa.post.description"
        [isEditable]="isEditable"
      ></app-post-description>
    </header>
    <app-tag-factory
      [(tags)]="pa.post.tags"
      [isEditable]="isEditable"
    ></app-tag-factory>
    <app-profile-header
      [authorId]="pa.author.id"
      [name]="pa.author.username"
      [src]="pa.author.avatar"
    ></app-profile-header>
    <app-post-cover
      [(coverImageSrc)]="pa.post.coverImage"
      [isEditable]="isEditable"
    ></app-post-cover>
    <app-post-content
      [content]="pa.post.content"
      [isEditable]="isEditable"
    ></app-post-content
  ></ng-container>
</main>
