<main class="max-w-screen-sm mx-auto p-4 grid grid-cols-1 gap-4">
  <header class="flex gap-4 items-start" *ngIf="pa; else load">
    <div class="grid grid-cols-1 gap-4">
      <h1 class="grow text-4xl font-black leading-tight">
        {{ pa.post.title }}
      </h1>
      <h2 class="text-xl font-semibold">{{ pa.post.description }}</h2>
    </div>
    <BookmarkButton [postId]="pa.post.id" [isBookmarked]="true" />
  </header>
  <TagGroup *ngIf="pa; else load">
    <Tag
      *ngFor="let tag of pa.post.tags"
      [name]="tag"
      [color]="getTagColor(tag)"
    ></Tag>
  </TagGroup>
  <PostDetails
    [createdTime]="pa.post.createdTime"
    [lastUpdatedTime]="pa.post.lastUpdatedTime"
    *ngIf="pa; else load"
  />
  <article class="grid grid-cols-1 gap-6">
    <div class="flex gap-4 items-center" *ngIf="pa; else load">
      <PostOwner [author]="pa.author" />
      <FollowButton [isFollowed]="true" />
    </div>
    <div
      *ngIf="pa; else load"
      class="rounded-lg overflow-hidden object-cover h-72 lg:h-96 justify-self-center"
    >
      <img
        [src]="checkImage(pa.post.coverImage)"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="p-4 prose" id="reader"></div>
  </article>
  <div class="flex gap-8" *ngIf="pa">
    <LoveButton
      [postId]="pa.post.id"
      [isLoved]="!!pa.post.isLiked"
      [loveCount]="pa.post.likeCount || 0"
    />
    <ShareButton />
  </div>
  <hr />

  <ng-container *ngIf="comments$ | async as comments">
    <CommentWrapper [comments]="comments" [postId]="postId" />
  </ng-container>
</main>

<ng-container *ngIf="isShowCodePage && code">
  <CodePage [code]="code" (closeCommand)="closeCodePage()" />
</ng-container>

<ng-template #load>
  <SingleLineSkeleton></SingleLineSkeleton>
</ng-template>

<ng-template #imageload>
  <SingleLineSkeleton></SingleLineSkeleton>
</ng-template>
