<main class="max-w-screen-sm mx-auto p-4 grid grid-cols-1 gap-4">
  <header *ngIf="pa; else load">
    <div class="flex gap-4 items-start justify-between mb-2">
      <h1 class="grow text-2xl font-black leading-tight">
        {{ pa.post.title }}
      </h1>
      <BookmarkButton [postId]="pa.post.id" [isBookmarked]="true" />
    </div>
    <h2>{{ pa.post.description }}</h2>
  </header>
  <ng-container *ngIf="pa; else load">
    <TagGroup *ngIf="pa.post.tags.length">
      <Tag
        *ngFor="let tag of pa.post.tags"
        [name]="tag"
        [color]="getTagColor(tag)"
      ></Tag>
    </TagGroup>
  </ng-container>
  <PostDetails
    [createdTime]="pa.post.createdTime"
    [lastUpdatedTime]="pa.post.lastUpdatedTime"
    *ngIf="pa; else load"
  />
  <article class="grid grid-cols-1 gap-6">
    <div class="flex gap-4 items-center" *ngIf="pa; else load">
      <PostOwner [author]="pa.author" />
      <FollowButton [isFollowed]="true" />
    </div>
    <div
      *ngIf="pa; else load"
      class="rounded-lg overflow-hidden object-cover max-h-72 lg:max-h-96 justify-self-center"
    >
      <img
        [src]="checkImage(pa.post.coverImage)"
        class="object-cover w-full h-full"
        alt="cover image"
      />
    </div>
    <div class="p-4 prose" id="reader"></div>
  </article>
  <div class="flex gap-8" *ngIf="pa">
    <LoveButton
      [postId]="pa.post.id"
      [isLoved]="!!pa.post.isLiked"
      [loveCount]="pa.post.likeCount || 0"
    />
    <ShareButton />
  </div>
  <hr />

  <ng-container *ngIf="comments$ | async as comments">
    <CommentWrapper [comments]="comments" [postId]="postId" />
  </ng-container>
</main>

<ng-container *ngIf="isShowCodePage && code">
  <CodePage [code]="code" (closeCommand)="closeCodePage()" />
</ng-container>

<ng-template #load>
  <SingleLineSkeleton></SingleLineSkeleton>
</ng-template>

<ng-template #imageload>
  <SingleLineSkeleton></SingleLineSkeleton>
</ng-template>
