<main class="max-w-screen-sm mx-auto p-4 flex flex-col gap-4">
  <h1 class="text-4xl font-black">This is a title of this post</h1>
  <h3 class="text-xl text-slate-500">This is a subtitle of this post</h3>
  <div class="flex flex-col gap-4 text-sm">
    <div class="flex gap-2">
      <app-tag [tagMessage]="'HTML'"></app-tag>
      <app-tag [tagMessage]="'HTML'"></app-tag>
      <app-tag [tagMessage]="'HTML'"></app-tag>
    </div>
    <div class="flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
      </svg>
      <p>12 Jun 2001</p>
    </div>
    <div class="flex gap-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <p>3 Min</p>
    </div>
  </div>
  <div class="flex gap-4 items-center">
    <app-author-bar></app-author-bar>
    <button class="text-sm px-3 py-1 rounded-full border border-green-700 text-green-700">
      ติดตาม
    </button>
  </div>
  <div class="flex justify-center">
    <div class="w-96 h-96 bg-slate-100 rounded-lg">
    </div>
  </div>
  <div class="">
    Where does it come from?
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
  </div>
</main>
