<app-publish-button></app-publish-button>
<main class="max-w-screen-sm mx-auto px-4 py-6 flex flex-col gap-4">
  <div
    class="text-4xl font-black focus:outline-0"
    contenteditable="true"
    data-placeholder="ชื่อเรื่อง..."
  ></div>
  <div
    class="text-xl text-slate-500 focus:outline-0"
    contenteditable="true"
    data-placeholder="คำอธิบายโดยย่อ..."
  ></div>
  <app-tag-factory></app-tag-factory>
  <app-cover-image></app-cover-image>
  <app-content-editor></app-content-editor>
</main>
