<div class="flex gap-4">
  <button
    class="self-start flex items-center gap-2 justify-start p-2"
    (click)="goBack()"
  >
    <span class="flex items-center p-2">
      <span class="material-symbols-rounded"> arrow_back </span>
    </span>
    <span class="text-sm font-semibold">กลับหน้าที่ผ่านมา</span>
  </button>
  <button
    class="self-start flex items-center gap-2 justify-start p-2"
    [routerLink]="['/']"
  >
    <span class="flex items-center p-2">
      <span class="material-symbols-rounded"> home </span>
    </span>
    <span class="text-sm font-semibold">กลับหน้าหลัก</span>
  </button>
</div>

<router-outlet></router-outlet>
