<div class="p-8 rounded-lg bg-zinc-100 shadow">
  <div class="grid grid-cols-2 items-center">
  <img src="assets/images/logo-main.svg" class="w-72 h-72 mx-auto">
  <div class="grid grid-cols-1 gap-4">
    <h2 class="text-6xl font-bold">{{title}}</h2>
    <p class="text-xl">{{description}}</p>
    <button class="bg-zinc-600 text-zinc-100 font-bold text-lg px-4 py-2 rounded-full text-center hover:bg-zinc-700">Get Started</button>
  </div>
  </div>
</div>
<div class="flex">
  <main class="grow p-8">
    <h2 class="text-3xl font-bold mb-8">All posts</h2>
    <MiniPostGroup *ngIf="posts.length; else skeleton">
      <MiniPost *ngFor="let post of posts" [post]="post" />
    </MiniPostGroup>
  </main>
  <aside class="w-96 grow-0 shrink-0 h-screen sticky top-0 p-8">
    <h2 class="text-3xl font-bold mb-8">Tags</h2>
    <TagGroup>
      <Tag [name]="'HTML'" />
      <Tag [name]="'CSS'" />
      <Tag [name]="'JS'" />
      <Tag [name]="'Web design'" />
    </TagGroup>
  </aside>
</div>

<ng-template #skeleton>
  <div class="grid grid-cols-1 gap-6">
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
  </div>
</ng-template>
