<main class="max-w-screen-xl mx-auto flex flex-col gap-8 p-4 md:p-8 md:py-0">
  <section class="rounded-lg bg-white shadow">
    <div class="flex flex-col md:flex-row gap-4 p-4">
      <div class="flex justify-center items-center">
        <div class="rounded-lg bg-white w-72 h-72 md:h-96 md:w-96 p-4"></div>
      </div>
      <div class="grow flex flex-col gap-4 md:gap-8 md:p-8 justify-center">
        <h2 class="text-4xl md:text-6xl">กำเนิดโปรแกรมเมอร์</h2>
        <p class="md:text-xl">เบต้าบล็อกให้บริการในการเขียนบทความในรูปแบบบล็อก โดยอำนวยความสะดวกให้โปรแกรมเมอร์โดยการเพิ่มฟังก์ชันในการเขียนโค้ด และสั่งให้โค้ดทำงาน ขณะนี้ ระบบของเราให้บริการในภาษา C, C++, Python, Java</p>
        <button class="bg-slate-700 rounded-full px-8 py-3 text-white text-lg flex gap-4 justify-center items-center hover:bg-slate-800">เริ่มต้นใช้งาน
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-4 gap-x-8">
      <div class="p-4 col-span-4 md:col-span-3 max-w-screen-xl mx-auto flex flex-col gap-8">
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
        <article class="flex flex-col gap-2">
          <div class="flex gap-4 items-center">
            <div class="w-10 h-10 bg-slate-100 rounded-full"></div>
            <a class="text-sm font-bold">John Smith</a>
          </div>
          <div class="flex gap-1 md:gap-4">
            <div class="p-1 cursor-pointer hover:bg-slate-50/50">
              <h2 class="text-lg font-bold">This is a title coding together.</h2>
              <p class="line-clamp-1 md:line-clamp-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="shrink-0 w-20 h-20 bg-slate-100">

            </div>
          </div>
        </article>
      </div>
      <aside class="col-span-4 md:col-span-1 h-auto md:h-screen md:sticky top-0 p-4">
        <div>
          <h3 class="font-bold">Tags</h3>
          <div class="p-4 flex gap-4 text-xs flex-wrap">
            <button class="px-4 py-1 rounded-full bg-gray-300">HTML</button>
            <button class="px-4 py-1 rounded-full bg-gray-300">CSS</button>
            <button class="px-4 py-1 rounded-full bg-gray-300">JS</button>
            <button class="px-4 py-1 rounded-full bg-gray-300">C</button>
            <button class="px-4 py-1 rounded-full bg-gray-300">Angular</button>
          </div>
        </div>
        <div>
          <h3 class="font-bold">Related Links</h3>
        </div>
      </aside>
    </div>
  </section>
</main>
