<p class="text-3xl text-center font-bold lg:hidden p-4">เบต้าบล็อก</p>
<div *ngIf="!userStatus" class="px-4 w-full">
  <div class="p-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-0 items-center">
    <img
      src="assets/images/logo-main.svg"
      class="w-64 h-64 lg:w-72 lg:h-72 mx-auto"
    />
    <div class="grid grid-cols-1 gap-4">
      <h2 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold">
        {{ title }}
      </h2>
      <p>{{ description }}</p>
      <button
        class="bg-zinc-600 text-zinc-100 font-bold text-lg px-4 py-2 rounded-full text-center hover:bg-zinc-700"
        [routerLink]='["auth","register"]'
      >
        เริ่มต้นใช้งาน
      </button>
    </div>
  </div>
</div>
<div class="flex flex-col lg:flex-row">
  <main class="grow p-4 lg:p-8" #postgroup>
    <h2 class="text-3xl font-bold mb-8">โพสต์ทั้งหมด</h2>
    <ng-container *ngIf="ppas; else skeleton">
      <MiniPostGroup *ngIf="ppas.length; else emptyPost">
        <MiniPost
          *ngFor="let ppa of ppas; trackBy: postTrackBy"
          [ppa]="ppa"
          (deleteEmitter)="removeFromId(ppa.postPreview.id)"
        />
      </MiniPostGroup>
    </ng-container>

    <div *ngIf="!readyStatus && ppas.length" class="flex justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="animate-spin w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
        />
      </svg>
    </div>
    <div *ngIf="endLoad && ppas.length" class="flex justify-center items-center gap-2 my-8">
      <div class="border border-zinc-500 grow"></div>
      <p class="font-semibold text-zinc-500">There are no more posts.</p>
      <div class="border border-zinc-500 grow"></div>
    </div>
  </main>
  <aside
    class="grow-0 shrink-0 lg:w-96 lg:h-screen sticky top-0 p-4 lg:p-8 bg-zinc-50 z-10 border-b"
  >
    <h2 class="text-3xl font-bold mb-8 hidden lg:block">แท็ก</h2>
    <TagGroup>
      <Tag [name]="'HTML'" />
      <Tag [name]="'CSS'" />
      <Tag [name]="'JS'" />
      <Tag [name]="'Web design'" />
    </TagGroup>
  </aside>
</div>

<ng-template #skeleton>
  <div class="grid grid-cols-1 gap-6">
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
    <div class="flex justify-between">
      <TextSkeleton class="grow" />
      <ImageSkeleton></ImageSkeleton>
    </div>
  </div>
</ng-template>

<ng-template #emptyPost>
  <div class="flex justify-center items-center p-4">
    No post found
  </div>
</ng-template>
