<div class="relative text-sm font-semibold">
  <button
    (click)="openPanel()"
    class="flex justify-center items-center p-2 rounded-full"
  >
    <span class="material-symbols-rounded"> more_horiz </span>
  </button>
  <div
    *ngIf="isPanelOpen"
    class="absolute top-0 right-0 p-2 w-32 rounded-xl bg-white shadow-md flex flex-col gap-1"
  >
    <div class="flex items-center gap-2 justify-between ps-2">
      <span>ตัวเลือก</span>
      <button
        (click)="closePanel()"
        class="flex items-center p-1 rounded-lg hover:bg-zinc-100"
      >
        <span class="material-symbols-rounded"> close </span>
      </button>
    </div>
    <hr />
    <button
      [routerLink]="['/write', 'edit', ofPostId]"
      class="flex items-center gap-2 hover:bg-yellow-50 hover:text-yellow-700 rounded-lg px-2 py-1"
    >
      <span class="material-symbols-rounded"> edit </span>แก้ไข
    </button>
    <button
      class="flex items-center gap-2 hover:bg-red-50 hover:text-red-700 rounded-lg px-2 py-1"
    >
      <span class="material-symbols-rounded"> delete </span>ลบ
    </button>
  </div>
</div>
