<div
  class="fixed h-screen w-full top-0 left-0 bg-black/25 z-50 backdrop-blur p-4"
>
  <div
    class="w-full h-full bg-white rounded-xl grid grid-cols-1 md:grid-cols-2 overflow-auto relative"
  >
    <div class="h-full bg-white p-4 border-e relative">
      <div class="h-full" #codeEditor></div>
    </div>
    <div class="h-full bg-white p-4">
      <div class="flex justify-end gap-2">
        <button
          (click)="execute()"
          class="rounded-full p-2 hover:bg-zinc-100"
          [ngClass]="{ 'text-zinc-300 cursor-not-allowed': isExecuting }"
          [disabled]="isExecuting"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
            />
          </svg>
        </button>
        <button
          (click)="abort()"
          class="rounded-full p-2 hover:bg-zinc-100"
          [ngClass]="{ 'text-zinc-300 cursor-not-allowed': !isExecuting }"
          [disabled]="!isExecuting"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.25 7.5A2.25 2.25 0 017.5 5.25h9a2.25 2.25 0 012.25 2.25v9a2.25 2.25 0 01-2.25 2.25h-9a2.25 2.25 0 01-2.25-2.25v-9z"
            />
          </svg>
        </button>
        <button
          (click)="closePage()"
          class="rounded-full p-2 hover:bg-zinc-100"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div>
        {{ output }}
      </div>
    </div>
  </div>
</div>
