<div class="relative flex items-center">
  <button class="w-10 h-10 rounded-full" (click)="openPanel()">
    <app-avatar *ngIf="me" [src]="me.userId"></app-avatar>
  </button>
  <div
    *ngIf="isPanelOpened"
    class="absolute top-12 right-0 p-4 w-72 md:w-80 rounded-xl bg-white shadow-md z-50"
  >
    <div class="relative space-y-4">
      <div class="flex items-start gap-8 justify-between">
        <div class="flex flex-col md:flex-row md:items-center gap-4">
          <app-avatar *ngIf="me" [src]="me.userId"></app-avatar>
          <span class="font-bold max-w-[200px] text-ellipsis overflow-hidden">
            {{ me.displayName }}
          </span>
        </div>
        <button
          (click)="closePanel()"
          class="p-2 rounded-lg bg-zinc-100 flex items-center shrink-0"
        >
          <span class="material-symbols-rounded">close</span>
        </button>
      </div>
      <hr />
      <div class="flex flex-col gap-2">
        <button
          [routerLink]="['/profile', 'me']"
          class="px-4 py-2 rounded-lg font-semibold hover:bg-zinc-100 flex gap-2 justify-start"
        >
          <span class="material-symbols-rounded">person</span>
          โปรไฟล์ของฉัน
        </button>
        <button
          (click)="logout()"
          class="px-4 py-2 rounded-lg font-semibold hover:bg-zinc-100 flex gap-2 justify-start"
        >
          <span class="material-symbols-rounded">logout</span>
          ออกจากระบบ
        </button>
      </div>
    </div>
  </div>
</div>
