@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: notoloop;
  src: url("assets/fonts/NotoSansThaiLooped-Regular.ttf");
}
@font-face {
  font-family: notosans;
  src: url("assets/fonts/NotoSansThai-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: notoserif;
  src: url("assets/fonts/NotoSerifThai-VariableFont_wdth,wght.ttf");
}

body{
  font-family: notosans;
}
