<div class="flex gap-2">
  <div class="shrink-0 w-10 h-14 flex justify-center items-center">
    <span class="material-symbols-rounded"> subdirectory_arrow_right </span>
  </div>
  <div class="p-2">
    <app-profile-header></app-profile-header>
    <p class="my-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate sunt
      modi rem illo vero reiciendis eum in doloribus quam, hic saepe quo ab,
      exercitationem accusantium blanditiis! Neque necessitatibus molestias
      iure.
    </p>
    <div class="flex items-center gap-4 text-xs">
      <p>
        {{ date | relativeTime }}
      </p>
    </div>
  </div>
</div>
